{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
The best in business
{% endblock %}
{% block title %}
Search result - ShopCart
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search">You hove searched for :<b>{{query}}</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_pro col-9 col-sm-12 col-md-4 col-md-12 col-lg-4"  style="height :30rem;" >
            <div class="card text-center" style="min-width:17rem;">
                <a class="card-img-top" href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"  width='100%' height='250rem'></a>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-text">₹{{product.price}}</h6>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search">0 results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}